{#
/**
 * @file
 */
#}
<form{{ form.attributes }}>
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}

  {{ form.email_address }}

  <div class="card mt-3">
    <div class="card-header">{{ "Preferences"|t }}</div>

    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <h5 class="card-title">{{ "Choose the categories you are interested in:"|t }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group row">
            {{ form.preferences_wrapper.categories }}
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          {{ form.preferences_wrapper.actions }}
        </div>
      </div>
    </div>
  </div>
</form>
